<p id="notice"><%= notice %></p>

<% content_for :head do %>
  <%= @team.name %>
<% end %>

  current season: <%= @team.current_season.year %><br/><br/>
  upcoming matches
  <% @team.current_season.upcoming_matches.each do |match| %>
    <%= match.match_date %> - <%= match.opponent.name %>  
  <% end %>

  previous seasons

  <% total_kills = 0 %>
    <% @team.players.each do |player| %>
      <% total_kills += player.stats.inject(0) {|sum, stat| sum ? sum + stat.attack_kills : stat.attack_kills } %>
    <% end %>
  Total Kills <%= total_kills %>
