<p id="notice"><%= notice %></p>

<h1><%= @team.name %></h1>

<div style="margin-left:250px">
<p>
  <b>Conference:</b>
  <%= @team.conference %>
</p>

<p>
  <b>Address:</b>
  <%= @team.address %>
</p>

</div>

<div style="margin-left:250px;padding-top:25px;">
  <% total_kills = 0 %>
    <% @team.players.each do |player| %>
      <% total_kills += player.stats.inject(0) {|sum, stat| sum ? sum + stat.attack_kills : stat.attack_kills } %>
    <% end %>
  Total Kills <%= total_kills %>
</div>
