<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this matc: from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :season %>
    <%= select(:match, :season_id, Season.all.collect {|s| [s.year, s.id] } ) %>
  </div>

  <div class="field">
    <%= f.label :team %><br />
    <%= select(:match, :team_id, Team.all.collect {|t| [t.name, t.id] } )%>
  </div>
  
  <div class="field">
    <%= f.label :opponent %><br />
    <%= select(:match, :opponent_id, Team.all.collect {|t| [t.name, t.id] } )%>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :match_date %><br />
    <%= f.date_select :match_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
