<% content_for :head do %>
<h1>Schedule</h1>
<% end %>
<table>
  <tr>
    <th>Opponent</th>
    <th>Location</th>
    <th>Match date</th>
    <th>Game Results</th>
    <th>Stats</th>
    <th></th>
  </tr>

  <% @matches.each do |match| %>
  <tr>
    <td><%= match.opponent.name %></td>
    <td><%= match.location %></td>
    <td><%= match.match_date %></td>
    <td><%= render :partial => 'results/result', :collection => match.results %></td>
    <td><%= link_to 'Enter Stats', {:controller => 'stats', :action => 'new_match', :match_id => match.id} %>
    <td><%= link_to 'View Stats', {:controller => 'stats', :action => 'match_stats', :match_id => match.id } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>


