   <tr>
    <td>
      <% stat_comp_key = player.id.to_s + '_' + params[:match_id] %>
      <%= hidden_field 'stat_id__' + stat_comp_key + '__', stat_comp_key %>
      <%= player.first_name + ' ' + player.last_name %>  
    </td>
    <td class="field">
      <%= text_field_tag 'games_played__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'attack_kills__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'attack_errors__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td>
      <%= text_field_tag 'attacks_total__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'assists__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'block_solos__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'block_assists__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'serve_total__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'serve_aces__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'serve_errors__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'reception_errors__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'reception_1__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'reception_2__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'reception_3__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'digs__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'ball_handling_errors__' + stat_comp_key + '__', '', :size => 3 %>
    </td>
    <td class="field">
      <%= text_field_tag 'block_errors__' + stat_comp_key + '__', '', :size => 3 %>
    </td>

  </tr>
