<% content_for :head do %>
  <h1>Match Statistics</h1>
<% end %>
<strong> Versus <%= @match.opponent.name %> on <%= @match.match_date %> </strong>
<br/><br/>

<%= form_tag('/stats/new_match_post') do %>
  <table>
  <tr>
    <th>Player</th>
    <th>GP</th>
    <th>K</th>
    <th>E</th>
    <th>TA</th>
    <th>A</th>
    <th>BS</th>
    <th>BA</th>
    <th>TS</th>
    <th>SA</th>
    <th>SE</th>
    <th>RE</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>Digs</th>
    <th>BE</th>
    <th>BHE</th>
  </tr>

  <%= render :partial => 'stat', :collection => @stats %>  

</table>
  <%= submit_tag 'Save' %>
<% end %>
