<!DOCTYPE html>
<html>
<head>
  <title>Vball</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
  <div id="wrap">
    <div id="header">
      <h1><a href="#">Volleyball Stats</a></h1>
      <h2><%= user_team().name %></h2>
    </div>

    <div id="menu">
      <ul>
        <li>MENU</li>
      </ul>
    </div>

    <div id="top"></div>

    <div id="contentwrap">
      <div id="sidebar">
        <ul>
          <li><%= link_to("Players", { :controller => "players", :action => "index", :season_id => session[:current_season]} ) %></li>
          <li><%= link_to("Past Seasons", { :controller => "seasons", :action => "index", :team_id => user_team().id } ) %></li>
        </ul>
      </div>
   
      <div id="content">
        Content
        <%= yield %>
      </div>

    <div style="clear: both;"></div>

    </div>

    <div id="footer">
      FOOTER
    </div>

  </div>
</body>
</html>
